<!DOCTYPE html>
<html>
  <head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <title> Grupo 48: Entrega 3 </title>
    <meta charset="utf-8" />
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
